<div class="container">
    
  <!-- PARTIAL LINK TO RESTAURANTS/INDEX (VIEW ALL) -->
  <% if @restaurants %>
    <h3>Restaurants: <%= @restaurants.count %></h3>
    <%= render 'restaurants_partial', restaurants: @restaurants %>
  <% else %>
    <h3>No Restaurants Posted Yet</h3>
  <% end %>

</div>
