<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">
  LOGIN
</button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register-modal">
  REGISTER
</button>


<!-- Modal -->
<div class="row modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="container modal-content">

      <div class="modal-body">
        <%= render 'sessions/form' %>
      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="row modal fade" id="register-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="container modal-content">

      <div class="modal-body">
        <%= render 'users/form', user: User.new %>
      </div>

    </div>
  </div>
</div>
